<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.HttpUtility" version="1.0.0.1" targetFramework="net461" />
  <package id="Pri.LongPath" version="2.0.53" targetFramework="net471" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net471" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net471" />
</packages>